<!DOCTYPE html>
<html lang="en">
<%- include('head')%>
<body>
    <%- include('navigation')%>
    <main class="main">
    <%- include('sideNav')%>
    <div class="book">
        <div class="book__cover">
            <img src="<%=book.volumeInfo.imageLinks.thumbnail%>" alt="book cover">
        </div>
        <div class="book__info">
            <h2 id="bookId"><%= book.id %></h2>
            <h2 class="book__info--title"><%= book.volumeInfo.title %></h2>
            <div class="book__info--details">
                <p>Author: <%=book.volumeInfo.authors[0]%></p>
                <p>Edition: <%=book.volumeInfo.publishedDate.substring(0, 4)%></p>
                <p>Category: <%=book.volumeInfo.categories%></p>
                <p>Page Count: <%=book.volumeInfo.pageCount%></p>
            </div>
            <div class="book__info--buttons">
                <% if (collectionInfo !== "") { %>
                    <a id="addToCol" class="addToCol sqr-btn">Add to collection</a>
                    <a id="addToCurentReads" class="addToCol sqr-btn">Currently Reading?</a>
                <%} else{ %>
                    <a class="addToCol sqr-btn notLogedInProf">Add to collection</a>
                    <a class="addToCol sqr-btn notLogedInProf" >Currently Reading?</a>
                    input:
                <% } %>
            </div>
        </div>
    </div>
    </main>
    <div id="colForm" class="addToCols hide-form">
        <button class="form__close btn" id="closeColBtn">
            <ion-icon name="close-outline"></ion-icon>
        </button>
        <form class="addToCols__form" id="addToColForm">
            <h3>Add Book To Collections</h3>
            <% let x = 0 %> 
            <% for(let col in collectionInfo){ %> 
                <%if(col !== "userInfo" && col !== "currentlyReading"){%>
                    <div class="addToCols__form--col">  
                        <input type="checkbox" id="colchackbox<%=x%>" class="colCheckbox" value="<%=collectionInfo[col].title%>">
                        <label for="colchackbox<%=x%>" class="col-title"><%=collectionInfo[col].title%></label>
                    </div>                    
                <%}%>
                <% x += 1 %> 
            <%}%>
            <div class="buttons">
                <button id="addToColBtn" type="submit">add to Collection</button>
                <button id="cancelCol">Cancel</button>
            </div>
        </form>
    </div>
    <%- include('scripts')%>
</body>
</html>