<!DOCTYPE html>
<html lang="en">
<%- include('head')%>
<body>
    <%- include('navigation')%>
    <main class="main">
    <%- include('sideNav')%>
    <div class="book">
        <div class="book__cover">
            <img src="<%=book.volumeInfo.imageLinks.thumbnail%>" alt="book cover">
        </div>
        <div class="book__info">
            <h2 id="bookId"><%= book.id %></h2>
            <h2 class="book__info--title"><%= book.volumeInfo.title %></h2>
            <div class="book__info--details">
                <p>Author: <%=book.volumeInfo.authors[0]%></p>
                <p>Edition: <%=book.volumeInfo.publishedDate%></p>
                <p>Category: <%=book.volumeInfo.categories%></p>
                <p>Page Count: <%=book.volumeInfo.pageCount%></p>
            </div>
            <div class="book__info--buttons">
                <% if (collectionInfo !== "") { %>
                    <a id="addToCol" class="addToCol sqr-btn">Add to collection</a>
                    <a id="addToCurentReads" class="addToCol sqr-btn">Currently Reading?</a>
                <%} else{ %>
                    <a class="addToCol sqr-btn notLogedInProf">Add to collection</a>
                    <a class="addToCol sqr-btn notLogedInProf" >Currently Reading?</a>
                <% } %>
            </div>
        </div>
    </div>
    </main>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="bundle.js"></script>
</body>
</html>