<!DOCTYPE html>
<html lang="en">
<%- include('head')%>
    <body>
        <%- include('navigation') %>
        <main class="main">
            <%- include('sideNav') %>
            <div>
                <%= booksArray[0].id %> 
            </div>
        </main>
    </body>
    <%- include('scripts')%>
</html>