<!DOCTYPE html>
<html lang="en">
<%- include('head')%>
<body>
    <%- include('navigation') %>
    <main class="main">
        <%- include('sideNav') %>
        <div>
            <h3 class="collection__title"><%=requestedCol.title%></h3>
            <% if (booksArray.length === 0) { %>
                <div class="collection__alert" >
                    <h1>This collection has no books</h1>
                    <p>Try to search for books and save them Here</p>
                </div>
            <% } else{%>
                <div class="collection">
                <% for( let i = 0; i < booksArray.length; i++ ) { %>   
                    <div class="collection__book">
                        <button class="form__close btn">
                            <ion-icon name="trash-outline"></ion-icon>
                        </button>
                        <img class="collection__book--cover" src="<%=booksArray[i].volumeInfo.imageLinks.thumbnail%>" alt="">
                        <div class="collection__book--info">
                            <div class="collection__book--title">
                                <%= booksArray[i].volumeInfo.title %>
                            </div>
                            <div class="collection__book--author">
                                Author: <%=booksArray[i].volumeInfo.authors[0]%>
                            </div>
                            <div class="collection__book--pages">
                                Pages: <%=booksArray[i].volumeInfo.pageCount%>
                            </div>
                            <!-- if col is curently reading display pgogress bar and persentage -->
                            <!-- If it is read or favorits and not ratted display rating selectore as empty five stars -->
                            <!-- if there is a ratting display the nuber of stars as filled and the rest outline -->
                            <!-- if it's want to read display the date it was saved to the col as saved since -->
                        </div>
                    </div>
                <% } %>
            <% } %>
            </div>
        </div>
    </main>
<%- include('scripts')%>
</body>
</html>