<main>
    <h1>Express serving ejs on port 2000</h1>
    <div>
        <% for( let i=0; i < books.length; i++ ) { %>
            <% if (books[i].volumeInfo.imageLinks) { %>
                <img src=<%=books[i].volumeInfo.imageLinks.thumbnail %> alt="">
                <% } %>
                    <h3>
                        <%= books[i].volumeInfo.title %>
                    </h3>
                    <h5>
                        <%= books[i].volumeInfo.authors %>
                    </h5>
                    <div>
                        <span>
                            <%= books[i].volumeInfo.pageCount %>
                                <%= books[i].volumeInfo.categories %>
                                    <%= books[i].id %>
                        </span>
                    </div>
                    <% } %>

    </div>
    </main>

    <div class="profile__info">
        <div class="profile__img">
            <div class="profile__uploadImg">
                <ion-icon class="icon" name="person-outline"></ion-icon>
            </div>
            <button class="sqr-btn profile__uploadImg--btn">Upload Image</button>
        </div>
        <form action="" class="profile__form">
            <div class="form__input--group1">
                <div class="form__input--feild">
                    <label for="fName">First Name</label>
                    <input class="text-input" type="text" name="fName" placeholder="First Name">
                </div>
                <div class="form__input--feild">
                    <label for="lName">Last Name</label>
                    <input class="text-input" type="text" name="lName" placeholder="Last Name">
                </div>
                <div class="form__input--feild">
                    <label for="lName">Phone Number</label>
                    <input class="text-input" type="text" name="lName" placeholder="Phone Number">
                </div>
            </div>
            <div class="form__input--group2">
            <div class="form__input--feild">
                <label for="email">Email</label>
                <input class="text-input" type="email" name="email" placeholder="Email">
            </div>
            <div class="form__input--feild">
                <label for="password">Password</label>
                <input class="text-input" type="password" name="password" placeholder="Password">
            </div>
        </div>
            <button class="sqr-btn" type="submit">Save</button>
        </form>
    </div>