<main>
    <h1>Express serving ejs on port 2000</h1>
    <div>
        <% for( let i=0; i < books.length; i++ ) { %>
            <% if (books[i].volumeInfo.imageLinks) { %>
                <img src=<%=books[i].volumeInfo.imageLinks.thumbnail %> alt="">
                <% } %>
                    <h3>
                        <%= books[i].volumeInfo.title %>
                    </h3>
                    <h5>
                        <%= books[i].volumeInfo.authors %>
                    </h5>
                    <div>
                        <span>
                            <%= books[i].volumeInfo.pageCount %>
                                <%= books[i].volumeInfo.categories %>
                                    <%= books[i].id %>
                        </span>
                    </div>
                    <% } %>

    </div>
    </main>



    
    <h1>
        <%= userInfo.uid %>
    </h1>
    <h1>
        <%= userInfo.email %>
    </h1>
    </form>
    <div>
        <% for(const property in collectionInfo){ %>
            <ul>
                <% for( let i=0; i < collectionInfo[property].length; i++ ) { %>
                    <li>
                        <%= collectionInfo[property][i]%>
                    </li>
                    <% } %>
            </ul>
            <% } %>
    </div>


    <% for( let i=1; i < colKeys.length; i++ ) { %>
        <% if (colKeys[i] !== "userInfo") { %>
            <div class="cols__col">
                <h4 class="cols__col--title">
                    <%=collectionInfo.colKeys[i].title%>
                </h4>
                <p class="col__discription"><%=collectionInfo.colKeys[i].title%></p>
                <p class="col__books"><%=collectionInfo.colKeys[i].books.length%> Books</p>
            </div>
            <% } else { %>
            <% continue %>
            <% } %>
        <% } %>





        