<!DOCTYPE html>
<html lang="en">
<%- include('head') %>

    <body>
        <%- include('navigation') %>
        <%- include('hero') %>
        <%- include('signup-form') %>
        <%- include('login-form') %>   
        <%- include('scripts')%>
    </body>

</html>