<!DOCTYPE html>
<html lang="en">
<%- include('head') %>

    <body>
        <%- include('navigation') %>
            <main class="profile">
                <%- include('sideNav') %>
                    <div class="profile__info">
                        <% if (collectionInfo.userInfo.imgUrl ==="") { %>
                            <div class="profile__info--img ">
                                <ion-icon name="person-outline"></ion-icon>
                                <button id="loadingImg" class="upload">
                                    <ion-icon name="arrow-up-circle-outline"></ion-icon>
                                    <input name="imgupload" id="imgUpload" type="file" class="btn" accept="image/png, image/jpeg">
                                </button>
                            </div>
                        <% } else{%>
                            <div class="profile__info--img" style="background-image: url(<%=collectionInfo.userInfo.imgUrl%>);background-size: cover; width: 15rem;
                                height: 15rem;">  
                                <button id="loadingImg" class="upload" style="top: 70%; left: 65%;">
                                    <ion-icon name="arrow-up-circle-outline"></ion-icon>
                                    <input name="imgupload" id="imgUpload" type="file" class="btn" accept="image/png, image/jpeg">
                                </button>
                            </div>  
                        <% } %> 
                        <form class="profile__info--form" id="profile-form">
                            <div class="form__group">
                                <div class="form__group--input">
                                    <label for="firstname">First Name</label>
                                    <input type="text" name="firstname" placeholder="First Name" value="<%=collectionInfo.userInfo.fName%>">
                                </div>
                                <div class="form__group--input">
                                    <label for="lastname">Last Name</label>
                                    <input type="text" name="lastname" placeholder="Last Name" value="<%= collectionInfo.userInfo.lName %>">
                                </div>
                                <div class="form__group--input">
                                    <label for="phonenum">Phone Number</label>
                                    <input type="text" maxlength="10" name="phonenum" placeholder="Phone Number" value="<% if (collectionInfo.userInfo.phoneNum !== ""){ %><%= collectionInfo.userInfo.phoneNum %><%}%>">
                                </div>
                            </div>
                            <div class="form__group--two">
                                <div class="form__group--input">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" placeholder="Email" value="<%= userInfo.email %>">
                                </div>
                                <div class="form__group--input">
                                    <label for="adress">Adress</label>
                                    <input type="text" name="adress" placeholder="Home Adress" value="<% if (collectionInfo.userInfo.adress !== ""){ %><%= collectionInfo.userInfo.adress%><%}%>">
                                </div>
                            </div>
                            <button id="profileFormBtn" type="submit" class="sqr-btn">Save</button>
                        </form>
                    </div>

            </main>

        <%- include('scripts')%>
    </body>

</html>